* {
    box-sizing: border-box;
}
body { width: 960px;
       margin:0 auto;
       padding:0px;
      
       background-color:#c7c2c2;
}

.header {
    height: auto;
    width: auto;
    padding: 8px 20px;
    margin:0px;
    background-color: #a00;
}

    h1 {color:#ffffff;
    font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight:400;
    margin-bottom:0px;
    padding-bottom:0px;
    padding-top:0px;
    }   
    
  h3 {color:#ffffff; 
     font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
     font-style:italic;
     font-weight:400;
     padding-bottom:10px;
     padding-top:0px;
     margin:0px;

  }             
         

.header2 {width:100%;
          margin:0px;
          padding:0px;
          background-color:#6c0505;
          display:inline-block;  
             
}

.navigation ul {font-family:Helvetica;
                color:#ffffff;
                list-style-type:none;
                padding:0px;
                margin:0px;
                
                
}

.navigation li a {color:#fff;
               text-decoration:none;
               padding:10px 20px;
               font-weight:700;
               text-transform:uppercase;
                              
}

.navigation li a:hover { text-decoration:underline;

}

.navigation li  {display:inline-block;
                 padding-top:10px;
                 padding-bottom:10px;
                

}

.search{float:right;
        margin-bottom:10px;
       
}
         
        
.search input{width:125px;
              height:20px;
              padding:0px;
              margin:0px;
}

.search button {
    margin-right:10px;
}



.article {background-color:#fff;
          width:100%;
          margin:0px;
          padding:0px;
          
         box-sizing:border-box;
          
          }

 .article img {float:left;
               padding-right:8px;
               margin-left:20px;
              }

  .article h1 {
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
        font-weight:400;
        margin-bottom:0px;
        padding-bottom:0px;
        padding-top: 0px;
        margin-left:350px;
        color: #000000;
    }         


 .article p {color:#000000;
            padding-left:10px;
            padding-right:10px;
            font-size:20px;
            font-family:Helvetica;
            margin-right:8px;

}

 .section {background-color:#fff;
          margin:0px;
          padding-top:10px;

 }
 
 
                 
  
 form { margin: 0 auto;
        width: 650px;
    
    
}
 
 label {display: inline-block;
        width: 200px;
        text-align: left;
        font-size:18px;
        padding:10px;
        font-family:Helvetica; 
        font-weight:400; 
        
         
}
              
input { font-size:18px;
         padding:10px;
         font-family:Helvetica; 
         font-weight:400; 
         margin:10px;
         width:400px; 
         border:1px solid #a00; 
         
}

 .checkbox  {font-size:18px;
            font-family:Helvetica; 
            font-weight:400; 
            
            display:inline;
           
            
 }

 .checkbox input {text-align:left;
                  margin:0px;
                  padding:0px;
                  width:100px;
                  
 }

 .checkbox label {display:inline;

 }
 .button {text-align:center;
     
 }
 .button button{font-size:18px;

 }

 .footer {background-color:#a09c9c;

 }
 .footer navigation ul {
    font-family: Helvetica;
    font-size:18px;
    font-weight:400;
    color:#403949;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}
 .footer navigation li a {
    color: #403939;
    text-decoration: none;
    padding: 10px 20px;
}

 .footer navigation li {
    display: inline-block;
    font-size:16px;
    padding-top: 10px;
    padding-bottom: 10px;
}

 



