

body {background-color:#bbc4ef;
}



h1 {color:#90f; font-family:"Comic Sans MS", cursive; text-align:center;
}

img {border:15px solid #06C;
	 
	 background-color: #90F;
	 margin: 35px ;
	 padding:15px;
}





